{
    "openapi": "3.0.1",
    "info": {
        "title": "API - MarketSms",
        "version": "0.0.1"
    },
    "servers": [
        {
            "url": "https://api.marketsms.co/v1",
            "description": "Production server"
        }
    ],
    "paths": {
        "/otp/send/sms/{number}": {
            "post": {
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Send OTP",
                "description": "Send OTP Code",
                "tags": [
                    "OTP"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "number",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "minimum": 1,
                            "example": 573135855289
                        },
                        "description": "Number to sender OTP"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        },
                        "description": "success"
                    },
                    "400": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeError"
                                }
                            }
                        },
                        "description": "error"
                    },
                    "401": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/unauthorized"
                                }
                            }
                        },
                        "description": "unauthorized"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        },
                        "description": "system error"
                    }
                }
            }
        },
        "/otp/verification/{number}": {
            "post": {
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "summary": "Verification code OTP",
                "description": "Verirification code OTP",
                "tags": [
                    "OTP"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "number",
                        "required": true,
                        "schema": {
                            "type": "number",
                            "minimum": 1,
                            "example": 573135855289
                        },
                        "description": "Number to sender OTP"
                    }
                ],
                "requestBody": {
                    "description": "Verification code",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "code": {
                                        "type": "string",
                                        "description": "verification code",
                                        "example": "4564"
                                    }
                                }
                            }
                        },
                        "text/plain": {
                            "schema": {
                                "type": "string"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        },
                        "description": "success"
                    },
                    "400": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeError"
                                }
                            }
                        },
                        "description": "error"
                    },
                    "401": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/unauthorized"
                                }
                            }
                        },
                        "description": "unauthorized"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        },
                        "description": "system error"
                    }
                }
            }
        },
        "/message/send": {
            "post": {
                "summary": "Enviar mensaje",
                "description": "Envía un mensaje.",
                "tags": [
                    "Mensajes"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mensaje enviado exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al enviar el mensaje.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/messages/account": {
            "get": {
                "summary": "Obtener mensajes por cuenta",
                "description": "Obtiene todos los mensajes asociados a la cuenta.",
                "tags": [
                    "Mensajes"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Mensajes obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener los mensajes.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/message/trafic/{range}/account": {
            "get": {
                "summary": "Obtener tráfico de mensajes por rango de tiempo",
                "description": "Obtiene el tráfico de mensajes dentro del rango de tiempo especificado.",
                "tags": [
                    "Mensajes"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "range",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Rango de tiempo para filtrar el tráfico de mensajes"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tráfico de mensajes obtenido exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener el tráfico de mensajes.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/campaign/custom": {
            "post": {
                "summary": "Add Custom Campaign",
                "description": "Add a new custom campaign.",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Custom campaign data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "multipart/form-data": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "multipart/form-data": {}
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/campaign/batch": {
            "post": {
                "summary": "Add Batch Campaign",
                "description": "Add a new batch campaign.",
                "tags": [
                    "Campaigns"
                ],
                "parameters": [],
                "requestBody": {
                    "description": "Batch campaign data",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {}
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {}
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "multipart/form-data": {}
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "multipart/form-data": {}
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "content": {
                            "application/json": {}
                        }
                    }
                }
            }
        },
        "/campaign/groups": {
            "post": {
                "summary": "Add Campaign to Group",
                "description": "Adds a campaign to a group.",
                "tags": [
                    "Campaigns"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeError"
                                }
                            }
                        },
                        "description": "Error"
                    },
                    "401": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/unauthorized"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        },
                        "description": "System Error"
                    }
                }
            }
        },
        "/campaign/{id}/messages": {
            "get": {
                "summary": "Get Messages by Campaign",
                "description": "Retrieves messages associated with a campaign.",
                "tags": [
                    "Campaigns"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID of the campaign"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeError"
                                }
                            }
                        },
                        "description": "Error"
                    },
                    "401": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/unauthorized"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        },
                        "description": "System Error"
                    }
                }
            }
        },
        "/campaigns/account": {
            "get": {
                "summary": "Get Campaigns by Account",
                "description": "Retrieves campaigns associated with an account.",
                "tags": [
                    "Campaigns"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        },
                        "description": "Success"
                    },
                    "400": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeError"
                                }
                            }
                        },
                        "description": "Error"
                    },
                    "401": {
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/unauthorized"
                                }
                            }
                        },
                        "description": "Unauthorized"
                    },
                    "500": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        },
                        "description": "System Error"
                    }
                }
            }
        },
        "/group": {
            "post": {
                "summary": "Crear un grupo",
                "description": "Crea un nuevo grupo.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Grupo creado exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error al crear el grupo.",
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/filter": {
            "post": {
                "summary": "Crear un grupo filtrado",
                "description": "Crea un nuevo grupo basado en un filtro.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Grupo filtrado creado exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error al crear el grupo filtrado.",
                        "content": {
                            "multipart/form-data": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/groups/account": {
            "get": {
                "summary": "Obtener grupos por cuenta",
                "description": "Obtiene todos los grupos asociados a la cuenta.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Grupos obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener los grupos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/groups/active/account": {
            "get": {
                "summary": "Obtener grupos activos por cuenta",
                "description": "Obtiene todos los grupos activos asociados a la cuenta.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Grupos activos obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener los grupos activos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{id}": {
            "get": {
                "summary": "Obtener grupo por ID",
                "description": "Obtiene un grupo por su ID.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del grupo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Grupo obtenido exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener el grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Agregar contactos a un grupo",
                "description": "Agrega contactos a un grupo existente.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del grupo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos agregados al grupo exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al agregar contactos al grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{id}/contacts": {
            "get": {
                "summary": "Obtener contactos de un grupo",
                "description": "Obtiene todos los contactos de un grupo específico.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del grupo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener los contactos del grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{id}/contact/{contact_id}": {
            "delete": {
                "summary": "Eliminar contacto de un grupo",
                "description": "Elimina un contacto específico de un grupo.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del grupo"
                    },
                    {
                        "in": "path",
                        "name": "contact_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del contacto a eliminar"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacto eliminado exitosamente del grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al eliminar el contacto del grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/group/{id}/{status}": {
            "put": {
                "summary": "Actualizar estado de grupo",
                "description": "Actualiza el estado de un grupo específico.",
                "tags": [
                    "Grupos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del grupo"
                    },
                    {
                        "in": "path",
                        "name": "status",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "Nuevo estado del grupo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Estado del grupo actualizado exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al actualizar el estado del grupo.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/account": {
            "get": {
                "summary": "Obtener contactos por cuenta",
                "description": "Obtiene todos los contactos asociados a la cuenta.",
                "tags": [
                    "Contactos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener los contactos.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts": {
            "post": {
                "summary": "Agregar contactos a cuenta",
                "description": "Agrega contactos a la cuenta existente.",
                "tags": [
                    "Contactos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos agregados a la cuenta exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al agregar contactos a la cuenta.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/import": {
            "post": {
                "summary": "Importar contactos a cuenta",
                "description": "Importa contactos a la cuenta existente.",
                "tags": [
                    "Contactos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos importados a la cuenta exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sendCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al importar contactos a la cuenta.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contact/{contact_id}": {
            "delete": {
                "summary": "Eliminar contacto",
                "description": "Elimina un contacto específico de la cuenta.",
                "tags": [
                    "Contactos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "parameters": [
                    {
                        "in": "path",
                        "name": "contact_id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "description": "ID del contacto a eliminar"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contacto eliminado exitosamente de la cuenta.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al eliminar el contacto de la cuenta.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/contacts/filter": {
            "get": {
                "summary": "Obtener contactos filtrados",
                "description": "Obtiene contactos filtrados basados en algún criterio.",
                "tags": [
                    "Contactos"
                ],
                "security": [
                    {
                        "apiKey": []
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Contactos filtrados obtenidos exitosamente.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/verificationCodeSuccess"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error del sistema al obtener contactos filtrados.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/systemError"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "apiKey": {
                "name": "Api-Key",
                "type": "apiKey",
                "in": "header"
            }
        },
        "schemas": {
            "verificationCodeSuccess": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "number",
                            "description": "status code",
                            "example": 200
                        },
                        "message": {
                            "type": "string",
                            "description": "message response api",
                            "example": "success"
                        },
                        "code": {
                            "type": "string",
                            "description": "response code",
                            "example": "OPVC200"
                        },
                        "code_app": {
                            "type": "string",
                            "description": "code identify response api",
                            "example": "SUCCESS"
                        },
                        "data": {
                            "type": "boolean",
                            "example": {
                                "id": 1
                            }
                        }
                    }
                }
            },
            "verificationCodeError": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "number",
                            "description": "status code",
                            "example": 400
                        },
                        "message": {
                            "type": "string",
                            "description": "message response api",
                            "example": "verification code expired"
                        },
                        "code": {
                            "type": "string",
                            "description": "response code",
                            "example": "OPVC403"
                        },
                        "code_app": {
                            "type": "string",
                            "description": "code identify response api",
                            "example": "BAD_REQUEST"
                        },
                        "data": {
                            "type": "boolean",
                            "example": null
                        }
                    }
                }
            },
            "sendCodeSuccess": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "number",
                            "description": "status code",
                            "example": 200
                        },
                        "message": {
                            "type": "string",
                            "description": "message response api",
                            "example": "success"
                        },
                        "code": {
                            "type": "string",
                            "description": "response code",
                            "example": "OPVC200"
                        },
                        "code_app": {
                            "type": "string",
                            "description": "code identify response api",
                            "example": "SUCCESS"
                        },
                        "data": {
                            "type": "boolean",
                            "example": {
                                "id": 1
                            }
                        }
                    }
                }
            },
            "sendCodeError": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "number",
                            "description": "status code",
                            "example": 400
                        },
                        "message": {
                            "type": "string",
                            "description": "message response api",
                            "example": "verification code expired"
                        },
                        "code": {
                            "type": "string",
                            "description": "response code",
                            "example": "OPVC403"
                        },
                        "code_app": {
                            "type": "string",
                            "description": "code identify response api",
                            "example": "BAD_REQUEST"
                        },
                        "data": {
                            "type": "boolean",
                            "example": null
                        }
                    }
                }
            },
            "unauthorized": {
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "status": {
                            "type": "number",
                            "description": "status code",
                            "example": 401
                        },
                        "message": {
                            "type": "string",
                            "description": "message response api",
                            "example": "unauthorized"
                        },
                        "code": {
                            "type": "string",
                            "description": "response code",
                            "example": "VAKMHE401"
                        },
                        "code_app": {
                            "type": "string",
                            "description": "code identify response api",
                            "example": "UNAUTHORIZED"
                        },
                        "data": {
                            "type": "boolean",
                            "example": null
                        }
                    }
                }
            },
            "systemError": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "number",
                        "description": "status code",
                        "example": 500
                    },
                    "message": {
                        "type": "string",
                        "description": "message response api",
                        "example": "system error"
                    },
                    "code": {
                        "type": "string",
                        "description": "response code",
                        "example": "PES500"
                    },
                    "code_app": {
                        "type": "string",
                        "description": "code identify response api",
                        "example": "null"
                    },
                    "data": {
                        "type": "object",
                        "description": "object with cause of system error",
                        "example": {
                            "message": "system error",
                            "file": "/var/www/html/route.php",
                            "line": "72"
                        }
                    }
                }
            }
        },
        "parameters": {
            "paginate": {
                "in": "query",
                "name": "page",
                "required": false,
                "schema": {
                    "type": "string",
                    "example": "1Q"
                },
                "description": "Paginate"
            }
        }
    }
}